extends ../layouts/default

include ../modules/footer/footer
include ../modules/header/header
include ../modules/form/form

block head
	- title = "Forms"
	
block header
	+header()

block main
	h1#forms Forms

	.demo.demo_forms

		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ab totam, voluptas animi eius ducimus molestiae! Veritatis, atque? Porro praesentium, possimus! Iste architecto cupiditate placeat ab fugiat et adipisci reprehenderit.

		+form()
			section.form__section
				h2#text-inputs Text Inputs
				include ../modules/demo/forms/text-inputs

					


block footer
	+footer(footer.default)
