extends ../layouts/home

include ../modules/footer/footer
include ../modules/header/header
include ../modules/main-page/main-page
include ../modules/dropvideo/dropvideo
include ../modules/flowplayer/flowplayer

	
block header
	+header()
	
	
block main
	+flowplayer()
	//+dropvideo()
	//+main-page()

block footer
	+footer(footer.default)
