#player
	position relative
	background #333

/* set ratio before player is loaded via css */
#player .fp-ratio
	padding-top 56.25%

#typewarning
#audiowarning
	position absolute
	top 30%
	display none
	width 100%
	color #ff0
	text-align center
	text-shadow 0 0 3px #000
	font-weight bold
	font-size 150%

#typewarning
	z-index 1

#audiowarning
	z-index 2
