mixin flowplayer()
	.row
		.col Title
	.row.d-flex.justify-content-center
		.col-12.col-md-8
			p(id="choice1" class ='info')
				input(type='file' id='file1' )
				| File type
				span.ftype1
				
			p(id="choice2" class ='info')
				input(type='file' id='file2' )
				| File type
				span.ftype2
				
			
			
			div#player
				div#typewarning
					| Your browser cannot play'
					span#ftype
					| Please choose a different file.
				div#audiowarning 'Flowplayer currently does not support audio playback. Please choose a different file.'
				
				.fp-ratio
			p#info
					
			p.info Now playing:
				span#src
